<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/yousingle.css' %}">
    <link rel="stylesheet" href="{% static 'css/yousinglepage.css' %}">
</head>
<body>
    <nav>
        <div class="logo">Logo</div>
        <div class="nav-panel">
            <a href="">Playlists</a>
            <a href="">Log Out</a>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    
</body>
</html>